.App {
  text-align: center;
}
.one-button, .add-button{
  margin: 0 3%;
}
.row {
  margin: 0;
  padding: 3%;
}
.clicky-btn {
  margin: 5px;
}
.buttons {
  width: 50%;
  margin-left: 3%;
}
.link {
  color: brown;
}
.link:hover {
  color: brown;
  text-decoration: none;
}
.clicky-btn {
  width: 50px;
}